@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .container {
        width: 900px;
        height: 500px;
    }

    #logo {
        width: 150px;
    }

    #main-heading {
        color: #000;
        letter-spacing: 10px;
        line-height: 2.5rem;
        font-size: 2rem;
    }

    #info {
        letter-spacing: 0.5px;
        line-height: 0.9rem;
        font-size: 11px;
        width: 280px;
    }

    /* COL 1 */
    .col-1 {
        padding: 0 3rem;
    }

    /* COL 2 */
    .col-2 {
    }

    /* INPUT CONTAINER  */
    .input-field {
        padding: 6px;
        border: 1px hsl(0, 36%, 70%) solid;
        width: 90%;
        border-radius: 20px;
        /* margin-bottom: 12px; */
    }

    ::placeholder {
        font-size: 10px;
    }

    .button-container {
        margin-left: -60px;
    }

    button {
        padding: 6px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
    body {
        height: auto;
        padding: 0;
    }
    .container {
        grid-template-columns: repeat(1, 1fr);
        width: 100vw;
        height: 100vh;
    }

    #logo {
        display: none;
    }

    #mobile-logo {
        display: block;
        margin: 2rem;
    }

    /* col 1 */
    .col-1 {
        order: 2;
        padding: 1rem;
    }

    .info-container {
        text-align: center;
        padding: 3rem 0;
        /* height: 50; */
    }

    #main-heading {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    #info {
        text-align: center;
        width: 90%;
        line-height: 1.3rem;
        margin: 1.5rem auto;
        font-size: 13px;
    }

    .input-container {
        justify-content: center;
    }

    .input-field {
        padding: 21px;
        width: 80%;
    }

    /* ROW 2 */
    .col-2 {
        background-image: url("../images/hero-mobile.jpg");
        /* order: 1; */
        height: 40vh;
    }

    #pic-1 {
        display: none;
    }

    #pic-1-mobile {
        display: block;
        width: 100%;
    }
}
