@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .container {
        width: 1000px;
        height: auto;
    }

    #logo {
        width: 150px;
    }

    #main-heading {
        color: #000;
        letter-spacing: 10px;
        line-height: 2.5rem;
        font-size: 2rem;
    }

    #info {
        letter-spacing: 0.5px;
        line-height: 1rem;
        font-size: 12px;
    }

    /* ROW 1 */
    .row-1 {
        display: flex;
        width: 100%;
    }

    /* ROW 2 */
    .row-2 {
        justify-content: flex-end;
        height: 550px;
    }

    /* INPUT CONTAINER  */
    .input-field {
        padding: 6px;
        border: 1px hsl(0, 36%, 70%) solid;
        width: 70%;
        border-radius: 20px;
        /* margin-bottom: 12px; */
    }

    button {
        padding: 6px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
    body {
        height: auto;
        padding: 0;
    }
    .container {
        grid-template-columns: repeat(1, 1fr);
        width: 100vw;
    }

    #logo {
        display: none;
    }

    #mobile-logo {
        display: block;
        margin: 2rem;
    }

    /* ROW 1 */
    .row-1 {
        order: 2;
        padding: 1rem 0;
    }

    .info-container {
        text-align: center;
        padding: 2rem 0;
    }

    #main-heading {
        font-size: 3rem;
        line-height: 3rem;
    }

    #info {
        text-align: center;
        width: 80%;
        line-height: 1.3rem;
        margin: 1.5rem auto;
        font-size: 1rem;
    }

    .input-container {
        justify-content: center;
    }

    .input-field {
        padding: 14px;
    }

    /* ROW 2 */
    .row-2 {
        /* order: 1; */
        height: auto;
    }

    #pic-1 {
        display: none;
    }

    #pic-1-mobile {
        display: block;
        width: 100%;
    }
}
